body {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

main {
    height: 1450px;
}

.top-section-container {
    height: 465px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0 93%);
}

.sliding-image-container {
    overflow: hidden;
    clip: rect(0, auto, auto, 0);
    position: relative;
}

.sliding-image-container .floating-rectangle {
    padding: 25px;
    padding-left: 35px;
    position: absolute;
    top: 36%;
    z-index: 1;
    display: inline-block;
    width: 195px;
    color: white;
    font-weight: 100;
    height: 80px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.floating-bg {
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background: #51585c;
}

.sliding-image-container .floating-rectangle span:last-child{
    color: #51bec8;
}

.sliding-image {
    width: 100%;
    margin-top: 0;
    z-index: -1;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.image-clip-container {
   /* background: url('../images/Type-Surf-Puja-Khurana-MDES.jpg'); */
   width: 100%;
   height: 100%;
   clip-path: polygon(0 0, 100% 0, 100% 71%, 0 91%);
   overflow: hidden;
   background-position: center;
   background-position-y: 0;
}


.background-image2 {
    /* background: url('../images/Alonso-Benavente-Fortes.jpg'); */
    background-size: 555px;
    background-position: center;
    background-position-y: 0%;
}

.background-image3 {
    /* background: url('../images/Unity-Bainbridge.jpg'); */
    background-size: 830px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.background-image4 {
    /* background: url('../images/application-deadline-website-x620.jpg'); */
    background-size: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0%;
}

.background-image5 {
    /* background: url('../images/Jesse-and-water-pump-no-logo-1280x800.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0%;
    z-index: -1;
}

.second-section-container {
    clip-path: polygon(0 18%, 100% 0, 100% 91%, 0 77%);
    transform: translate3d(0,-126px,0);
    height: 515px;
}

.second-section-content {
    display: flex;
    clip-path: polygon(0 18%, 100% 0, 100% 89%, 0 75%);
}

.second-section-column1,
.second-section-column2,
.second-section-column3 {
    position: relative;
    overflow: hidden;
    width: 34%;
    height: 515px;
}

.second-section-column2 {
    background: #fff;
}

.section-title {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.section-content p {
    font-size: 14px;
    font-weight: 100;
}

.second-section-container .section-content {
    padding: 30px;
    position: absolute;
    top: 30%;
    width: 80%;
}

.second-section-container [class^="second-section-column"]:nth-child(odd) .section-content {
    color: #fff;
}

.second-section-column1 img {
    width: 130%;
    margin-left: -15%;
}

.second-section-column3 img {
    width: 220%;
    margin-left: -55%;
}

.big-underscore {
    position: relative;
}

.big-underscore::before {
    content: "";
    width: 40px;
    position: absolute;
    bottom: -15px;
    border-bottom: 3px solid;
}

.third-section-container {
    height: 450px;
    transform: translate3d(0,-245px,0);
    z-index: -1;
    background: #2a2f35;
    display: flex;
}

.third-section-container .content-clipped {
    height: 100%;
    width: 100%;
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 94%);
}

.third-section-container .section-content {
    background: #2a2f35;
    width: 57%;
    height:100%;
    padding-top: 80px;
    padding-left: 35px;
}

.third-section-container .section-content {
    color: #fff;
}

.third-section-container .image-content {
    width: 41%;
}

.third-section-container img{
    margin-top: 8%;
    width: 130%;
    margin-left: -10%;
}

.fourth-section-container {
    height: 400px;
    transform: translate3d(0,-333px,0);
    z-index:-1;
    clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%);
}

.fourth-section-content {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.fourth-section-container .section-content {
    position: absolute;
    top: 60px;
    right: 35px;
    color: #fff;
}

/* .fourth-section-container img{
    top: -33%;
} */

.footer-bg {
    background: #50585c;
    clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 100%);
    height: 375px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

footer {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    height: 300px;
    position: relative;
    z-index: 2;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.icons-container {
    display: flex;
    align-items: center;
}

footer h3 {
    font-weight: 100;
    opacity: .8;
    letter-spacing: .7px;
}

footer i{
    padding: 5px;
    margin: 8px;
    width: 15px;
    height: 15px;
    text-align: center;
}

footer i:first-child {
    margin-left: 0;
}

.more {
    padding: 3px;
    height: 19px;
    font-size: 14px;
    margin-left: 8px;
}

footer i, .more {
    border: 2px solid #72797d;
}

footer i:hover, .more:hover {
    cursor: pointer;
    -moz-border-image: -moz-linear-gradient(top left, #f4fc08 0%, #2eb296 50%, #47d7e5 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #f4fc08 0%, #2eb296 50%, #47d7e5 100%);
    border-image: linear-gradient(to bottom right, #f4fc08 0%, #2eb296 50%, #47d7e5 100%);
    border-image-slice: 1;
}

footer ul{
    list-style: none;
    padding: 0;
}

.footer-first-column, 
.footer-address, 
.footer-second-column, 
.footer-third-column {
    float: left;
}

.footer-first-column, 
.footer-address {
     width: 48%;
 }

.footer-second-column { 
    padding-left: 3%;
    width: 23%;
}

.footer-third-column {
    padding-left: 0;
    width: 26%;
}



.footer-address {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
}

.footer-second-column {
    line-height: 1.8;
    font-weight: 100;
    font-size: 15px;
}

.footer-third-column {
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding-top: 17px;
}

.footer-third-column .search-container {
    text-align: right;
}

.footer-third-column label {
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1.2px;
}
.footer-third-column input {
    height: 32px;
    width: 50%;
    margin-top: 10px;
}
.footer-third-column button {
    width: 85px;
    height: 38px;
    background: transparent;
    border: 2px solid #ebebeb;
    color: #ebebeb;
    text-transform: capitalize;
    font-size: 14px;
    margin-left: 20px;
}

@media screen and (min-width: 920px) {
    .image-clip-container {
        background-image: url('../images/Type-Surf-Puja-Khurana-MDES.jpg');
    }
    .background-image2 {
        background-image: url('../images/Alonso-Benavente-Fortes.jpg');
    }
    .background-image3 {
        background-image: url('../images/Unity-Bainbridge.jpg');
    }
    .background-image4 {
        background-image: url('../images/application-deadline-website-x620.jpg');
    }
    .background-image5 {
        background-image: url('../images/Jesse-and-water-pump-no-logo-1280x800.jpg');
    }
}